---
import PostHeader from "@/components/PostHeader.astro";
import { BlogPostFrontmatter, siteMetadata } from "@/data";

import BaseLayout from "./BaseLayout.astro";
import CategoryCloud from "@/components/CategoryCloud.astro";
import RelatedPosts from "@/components/RelatedPosts.astro";

const {
  frontmatter: { description, author, category, date, image, title },
} = Astro.props as BlogPostFrontmatter;
---

<BaseLayout
  title={`Blog Post - ${siteMetadata.title}`}
  description={description}
>
  <PostHeader
    author={author}
    category={category}
    date={date}
    image={image}
    title={title}
  />

  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog Categories">
        <h2 class="h3">Categories</h2>
        <CategoryCloud />
      </aside>
      <aside class="container" aria-label="Related Blogs">
        <h2 class="h3">Related blogs</h2>
        <RelatedPosts category={category} title={title} />
      </aside>
    </div>
  </div>
</BaseLayout>
